.login {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  margin: auto;

  .login-header {
    font-size: 32px;
    margin-bottom: 46px;
    text-align: center;
  }

  label {
    font-size: 13px;
    font-weight: 600;
  }

  input {
    width: 100%;
    height: auto;
    padding: 9px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;
    margin-bottom: 20px;

    &:focus {
      border-bottom: 2px solid black;
    }
  }

  button {
    width: 100%;
    height: 52px;
    border: none;
    background-color: #ebebeb;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
}
